<footer class="footer">
  <small>
    The <a href="https://github.com/HydnWang/plutus">Personal Financial Management App</a>
    by <a href="https://github.com/HydnWang">Hayden Wang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <!-- <li><%= link_to "Contact" %></li> -->
      <li><a href="https://github.com/HydnWang/plutus">News</a></li>
    </ul>
  </nav>
</footer>